.about {
  /* height: 75vh; */
  padding-bottom: 48px;
}
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.picture {
  height: 380px;
  border-radius: 50%;
}
.about-info {
  font-size: 24px;
}
.info-name {
  font-size: 32px;
  color: rgba(0, 0, 255, 0.561);
}
@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 350px;
    margin-top: 4rem;
    border-radius: 50%;

  }
  .about-info {
    font-size: 20px;
  }
  .info-name {
    font-size: 26px;
  }
}
